# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
node_modules/
jspm_packages/

# Build folders
dist
dist-ssr
coverage
build/Release

# Environment files
.env
.env.*
BACKEND/.env
!.env.example

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Cache folders
.cache
.parcel-cache
.npm
.eslintcache
.stylelintcache
.nyc_output

# Editor files
.vscode/*
!.vscode/extensions.json
.vscode-test
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Optional package files
*.tgz

# Framework folders
.next
out
.nuxt
.svelte-kit/
.serverless/
.firebase/
.docusaurus

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*